<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item *ngFor="let project of projects; last as last; first as first" role="listitem">
          <span>{{project.name}}</span>
          <span class="filler"></span>
          <button mat-icon-button [disabled]="last" matTooltip="Move down" (click)="moveProject(project, false)">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <button mat-icon-button [disabled]="first" matTooltip="Move up" (click)="moveProject(project, true)">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Edit" (click)="openEditDialog(project)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Delete" (click)="deleteProject(project)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<button class="floating-action-button" mat-fab color="accent" (click)="openCreateDialog()">
  <mat-icon>add</mat-icon>
</button>
